.mood-tracker {
  padding: 2em;
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 10px;
}

.mood-tracker h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #5d4037;
  text-align: center;
}

.mood-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.mood-button {
  font-size: 2.5em;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
  padding: 0.5em;
}

.mood-button:hover {
  transform: scale(1.3);
}

.mood-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.mood-comment {
  width: 80%;
  max-width: 500px;
  height: 120px;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 8px;
  border: 2px solid #5d4037;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.mood-log {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

.mood-log-entry {
  background-color: #fff;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.5em;
  animation: slideIn 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .mood-log-entry {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .mood-tracker h2 {
    font-size: 2em;
  }

  .mood-comment {
    width: 95%;
  }
}
